.MemoryCardBack {
  background-image: linear-gradient(
    to right,
    #7ae6ee,
    #7ae6ee 15%,
    #3fa9b1 15%,
    #3fa9b1 85%,
    #7ae6ee 85%
  );
}

.MemoryCard {
  display: inline-block;
  width: 150px;
  height: 80px;
  margin: 5px;
  cursor: pointer;
  position: relative;
  perspective: 800px;
}

.MemoryCardFront {
  font-size: 30px;
  line-height: 20px;
  transform: rotateY(180deg);
  background-image: linear-gradient(
    to right,
    #7ae6ee,
    #7ae6ee 15%,
    #3fa9b1 15%,
    #3fa9b1 85%,
    #7ae6ee 85% )
}

.MemoryCardInner {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 5px;
  border: solid 3px gray;
  box-shadow: 0 6px 16px rbga(0, 0, 0, 0.15);
}

.MemoryCardFront, .MemoryCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.MemoryCardInner.flipped {
  transform: rotateY(180deg);
}
